/*
    spar.css - Spar app CSS

    Copyright 2018 by Scottsdale Community College
    written by Sean Robinson <sean.robinson@scottsdalecc.edu>
*/

body {
    background-color: #000000;
    color: #FFFFFF;
    font-size: calc(0.5em + 1vmin);
    margin: 0px;
    position: relative;
    text-align: center;
}

#content {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: flex-end;
}

#controls {
    width: 100%;
    flex: 1 1 10%;
}

#control-button {
    margin-top: 1em;
    width: 50%;
}

div.def-list {
    margin: 4em 30% 4em 30%;
    text-align: left;
    width: 40%;
}

div.def-list sub {
    padding-left: 20em;
}

div.instructions {
    opacity: 0.2;
    margin: 6em auto;
    text-align: left;
    transition: opacity 0.5s;
    width: 50%;
}

/* Hover on instructions changes opacity for all children. */
div.instructions:hover,
div.instructions:hover h2,
div.instructions:hover p,
div.instructions:hover ul {
    opacity: 1;
}

/* Header is always as opaque as parent. */
div.instructions h2 {
    opacity: 1;
    text-align: center;
}

/* Non-header children are barely visible without hover. */
div.instructions p, div.instructions ul {
    opacity: 0.2;
}

div.navigation a {
    color: #FFFFFF;
    font-size: calc(2em + 1vmin);
    text-decoration: none;
}

div.navigation span {
    margin: 0 8em;
}

li.definition {
    font-size: 1.2em;
}

li.definition cite {
    font-size: 0.6em;
    vertical-align: super;
}

#rounds {
    flex: 2 2 20%;
    margin: auto;
    width: 80%;
}

#rounds-counter > .progress-label {
    color: #000000;
    font-size: 3em;
    float: left;
    margin: 0.1em;
    position: absolute;
    text-align: center;
    width: 100%;
}

#timer {
    flex: 7 7 70%;
}

.ui-button-disabled {
    opacity: .80;
}

.ui-progressbar {
    height: 4em;
    margin-left: 10%;  /* Half the remaining width. */
    position: relative;
    width: 80%
}
